# Environment
.env

# Docker / MySQL data
mysql_data
**/var/lib/mysql

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.env.example
docker-compose.yml
application.yml
### Frontend ###
Frontend/node_modules/
Frontend/.next/
Frontend/out/
Frontend/.env.local