spring:
  datasource:
    url: jdbc:mysql://localhost:3309/Foodassist?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: password   # samma som MYSQL_ROOT_PASSWORD i .env
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  flyway:
    enabled: false

server:
  port: 8080